<%= form_tag @path do %>
<%= @path %>
    <div class="field">
      <%= label_tag 'Seleccione Función' %><br>
      <% show_array = Show.all.map { |show| [show.movie.name +
                                                     " " +
                                                     show.time.strftime("%I:%M%P").to_s, show.id ] } %>
      <%= select_tag(:show_id,options_for_select(show_array)) %>
    </div>

    <div class="actions">
      <%= submit_tag :Continuar %>
    </div>
<% end %>

<%= link_to 'Back', employee_transactions_path %>