<div class="row">
  <div class="col-md-4">
    <%= form_tag @path  do %>
        <div class="field">
          <%= label_tag(:name, 'Nombre:') %>
          <%= text_field(:user,:name)  %>
        </div>
        <div class="field">
          <%= label_tag(:ci, 'Cedula:') %>
          <%= text_field(:user,:ci) %>
        </div>
        <div class="field">
          <%= %>
        </div>
        <div class="field">
          <%= %>
        </div>
        <%= submit_tag 'Registrar Transaccion' %>
    <% end %>
  </div>
</div>
