<%= form_for @movie do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sinopsis, 'Sinopsis' %>
    <%= f.text_field :sinopsis, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration, 'Duración' %>
    <%= f.text_field :duration, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image, 'Ruta de Imágen' %>
    <%= f.text_field :image, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>