<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<div class="row">
  <div class="col-md-3">

    <%=  form_for :user, url: login_path do |f| %>

        <div class="field">
          <label class="text-primary" >Correo</label> <br/>
          <%= f.text_field :email, {class:'form-control', placeholder:'Direccion de Correo'} %>
        </div>

        <div class="field">
          <label class="text-primary" >Contraseña</label> <br/>
          <%= f.password_field :password,{class:'form-control', placeholder:'Contraseña'} %>
        </div>

        <div class="actions">
          <br/>
          <%= f.submit 'Iniciar Sección', class: 'btn btn-primary' %>
        </div>

    <% end %>
  </div>
</div>
