<div class="col-sm-12">
  <div class="row">
    <h1 class="text-center">Cartelera HACKiMAX</h1>
  </div>
  <br>
</div>

<% @movies.first(2).each do |m| %>
  <div class="col-sm-6">
    <div class="row">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title"><%= m.name %></h3>
        </div>
        <div class="panel-body" style="position:relative">
          <div class="thumb" style="display:inline-block;">
            <%= image_tag m.image %>
          </div>
          <div class="sinopsis">
            <strong>Sinopsis: </strong><%= m.sinopsis %>
          </div>
          <br><br>
          <div class="text-center" style="position: absolute; right:10px; bottom:15px">
            <button class="btn btn-info" type="submit">Ver Horarios</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
<% end %>

<% @movies.slice(2, @movies.length).each do |m| %>
  <div class="col-sm-4">
    <div class="row">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title"><%= m.name %></h3>
        </div>
        <div class="panel-body" style="position:relative">
          <div class="thumb" style="display:inline-block;">
            <%= image_tag m.image %>
          </div>
          <div class="sinopsis">
            <strong>Sinopsis: </strong><%= m.sinopsis %>
          </div>
          <br><br>
          <div class="text-center" style="position: absolute; right:10px; bottom:15px">
            <button class="btn btn-info" type="submit">Ver Horarios</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
<% end %>