<div class="row white_text well">
  <p id="notice"><%= notice %></p>

  <div class="col-md-12 text-center">
    <h1>Lista de Funciones</h1>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <%= link_to 'Nueva Función', new_employee_show_path, class: 'btn btn-success' %>
    <%= link_to 'Back', employee_path,class: 'btn btn-primary' %>

    <table class="table">
      <thead>
      <tr>
        <th colspan="8">Funciones</th>
      </tr>
      <tr>
        <th>id</th>
        <th>Pelicula</th>
        <th>Sala</th>
        <th>Hora</th>
        <th>Fecha Función</th>

      </tr>
      </thead>
      <tbody>
      <% @shows.each do |show| %>
          <tr>
            <td><%= show.id %>  </td>
            <td><%= show.movie.name %>  </td>
            <td><%= show.theater.theater_number %>  </td>
            <td><%= show.time.localtime('-04:30').strftime('%r') %>  </td>
            <td><%= show.date_show %>  </td>
            <td><%= link_to 'Ver', employee_show_path(show.id),class: 'btn btn-primary' %>  </td>
            <td><%= link_to 'Eliminar', employee_show_path(show.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>  </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>