<p id="notice"><%= notice %></p>

<h1>Listing Shows</h1>

<table>
  <thead>
    <tr>
      <th colspan="8">Shows</th>
    </tr>
    <tr>
      <td>id</td>
      <td>Movie</td>
      <td>Sala</td>
      <td>Time</td>
      <td>Date Show</td>
      
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.id %> | </td>
        <td><%= show.movie.name %> | </td>
        <td><%= show.theater.theater_number %> | </td>
        <td><%= show.time.localtime('-04:30').strftime('%r') %> | </td>
        <td><%= show.date_show %> | </td>
        <td><%= link_to 'Show', employee_show_path(show.id) %> | </td>
        <td><%= link_to 'Edit', edit_employee_show_path(show.id) %> | </td>
        <td><%= link_to 'Destroy', employee_show_path(show.id), method: :delete, data: { confirm: 'Are you sure?' } %> | </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show', new_employee_show_path %>
<%= link_to 'Salir', logout_path %>