<%= stylesheet_link_tag 'employee/show_shows.css' %>

<p id="notice"><%= notice %></p>



<div class="row white_text">



  <div class="col-md-4"></div>
  <div class="col-md-4 well">

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">
        <h3> <strong>Película:</strong><%= @show.movie.name %> </h3>
      </a>
      <a href="#" class="list-group-item list-group-item-info">
        <strong>Sala:</strong>
        <%= @show.theater.theater_number %>
      </a>
      <a href="#" class="list-group-item list-group-item-info">
        <strong>Date_show:</strong>
        <%= @show.date_show %>
      </a>
      <a href="#" class="list-group-item list-group-item-success">
        Sala: 1
      </a>
      <a href="#" class="list-group-item list-group-item-success">
        <strong>Time:</strong>
        <%= @show.time.localtime('-04:30').strftime('%r') %>
      </a>

    </div>


    <%= link_to 'Back', employee_shows_path, class: 'btn btn-primary' %>

  </div>
</div>


