<div class="well">
  <%= stylesheet_link_tag 'cartelera/shows.css' %>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center white_text"><%= @movie.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="img_wrapper_show">
        <%= image_tag @movie.image %>
      </div>
    </div>
    <div class="col-sm-9">
      <hr/>
      <h1 class="text-primary">Sinopsis:</h1>
      <p class="white_text text-justify sinopsis" ><%= @movie.sinopsis %></p>
      <hr/>
      <h3 class="white_text">Duración: <strong><%= @movie.duration.localtime('-04:30').strftime("%I:%M") %></strong></h3>

    </div>
  </div>

  <br/> <br/>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center text-primary">Horarios</th>
        </tr>
        </thead>
        <tbody>
        <% @movie.shows.each do |m| %>
            <tr>
              <%
                 if m.theater.type_theater=='N'
                   available_seats = 100
                 else
                   available_seats = 200
                 end
                 m.seat_shows.each do |ss|
                   if ss.status!='available'
                     available_seats-=1
                   end

                 end
              %>
              <td class="white_text" >
                <%= m.time.localtime('-04:30').strftime("%I:%M" + " %p") %>
                Sala: <span class="text-success"><%= m.theater_id %></span> <br/>
                Asientos Disponibles: <span class="text-success"> <%= available_seats.to_s %> </span>
                <br/> <%= link_to 'Comprar', cartelera_seats_path(m), class:'btn btn-primary' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>



</div>
