<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <%
       if @transactions.status=="paid"
         action = "Compra"
       else
         action = "Reserva"
       end
    %>
    <h3 class="text-primary"><%= action %> Realizada</h3>
    <% user = @transactions.user %>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">
        Comprador: <%= user.name %>
      </a>
      <a href="#" class="list-group-item list-group-item-success">
        Cedula: <%= user.ci %>, Presentarla en el Cine a concurrir.
      </a>
      <% @transactions.tickets.each do |t| %>
          <a href="#" class="list-group-item list-group-item-info">
            Asiento: <%= t.seat_show.seat.row + " " + t.seat_show.seat.col.to_s %>
          </a>
      <% end %>
      <a href="#" class="list-group-item list-group-item-success">
        Sala: <%= @transactions.show.theater.theater_number %>
      </a>
      <a href="#" class="list-group-item list-group-item-success">
        Total: <%= @transactions.total_transaction %>
      </a>

      <!--<a href="#" class="list-group-item list-group-item-info">-->

      <!--</a>-->
      <!--<a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>-->
      <!--<a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>-->
    </div>

  </div>
  <div class="col-md-2"></div>
</div>